/*
 * Copyright (c) 2011-present Sonatype, Inc. All rights reserved.
 * Includes the third-party code listed at http://links.sonatype.com/products/clm/attributions.
 * "Sonatype" is a trademark of Sonatype, Inc.
 */

@Library(['private-pipeline-library', 'jenkins-shared']) _

import com.sonatype.jenkins.shared.Expectation

void configureBranchJob() {
  String projName = currentBuild.fullProjectName
  if (projName.endsWith('main')) {
    properties([
      disableConcurrentBuilds(),
      pipelineTriggers([cron('@daily')])
    ])
  }
}

String deployBranch = 'main'
String imageName = 'sonatype/nexus-iq-server'

configureBranchJob()
dockerizedBuildPipeline(
  deployBranch: deployBranch,
  deployCondition: { return true }, // always run the deploy stage
  prepare: {
    githubStatusUpdate('pending')
  },
  pathToDockerfile: "./Dockerfile.slim",
  lint: {
    hadolint(['./Dockerfile.slim'])
  },
  buildAndTest: {
    def expectations = load 'expectations.groovy'
    validateExpectations(expectations.containerExpectations())
  },
  deploy: {
    // Hijacking deploy step to run the docker buildx build to make sure it is working
    withSonatypeDockerRegistry() {
      sh "docker buildx create --driver-opt=\"image=${sonatypeDockerRegistryId()}/moby/buildkit\" --use"
      sh "docker buildx build --platform linux/amd64,linux/arm64 " +
          " -f Dockerfile.slim " +
          "--tag ${sonatypeDockerRegistryId()}/${imageName}:${env.BUILD_NUMBER} ."
    }
  },
  vulnerabilityScan: {
    def theStage = env.BRANCH_NAME == deployBranch ? 'build' : 'develop'
    nexusPolicyEvaluation(
      iqApplication: 'docker-nexus-iq-server-slim',
      iqScanPatterns: [[scanPattern: "container:${env.DOCKER_IMAGE_ID}"]],
      iqStage: theStage)
  },
  onUnstable: {
    if (env.BRANCH_NAME == deployBranch) {
      notifyChat(currentBuild: currentBuild, env: env, room: 'iq-builds')
    } 
  },
  onFailure: {
    if (env.BRANCH_NAME == deployBranch) {
      notifyChat(currentBuild: currentBuild, env: env, room: 'iq-builds')
    } 
  }
)
